extends ../layouts/validation

block heading
    h1#title Edit Profile Information
    hr

block content
    div#profile-info
        form(id="register-form" class="validation-form" method="post" action="/p/edit" enctype="multipart/form-data")
            div.form-group
                label(for="stage-name") Stage Name
                input(type="text" class="form-control" name="stage_name" id="stage-name" placeholder="Eminem" value=stage_name)
            div.form-group
                label(for="email") Email
                input(type="email" class="form-control" name="email" id="email" placeholder="johndoe@email.com" value=email)
            div.form-group
                label Date of Birth
                div.form-row
                    div.col-md-4
                        select(class="custom-select" name="day")
                            - var num = 1;
                            while num <= 31
                                if num == day
                                    option(selected value=num)= num++
                                else
                                    option(value=num)= num++
                    div.col-md-4
                        select(class="custom-select" name="month")
                            - var num = 1;
                            - var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                                for m in months
                                    if num-1 == month
                                        option(selected value=num++)= m
                                    else
                                        option(value=num++)= m
                    div.col-md-4
                        select(class="custom-select" name="year")
                            - var num = 2020;
                                while num >= 1920
                                    if num == year
                                        option(selected value=num)= num--
                                    else
                                        option(value=num)= num--
            div.form-group
                label(for="location") Location
                input(type="text" class="form-control" name="location" id="location" placeholder="Ireland, France, .." value=location)
            div.form-group
                label(for="avatar") Profile Picture
                input(type="file" class="form-control-file" accept="image/png, image/jpeg" name="avatar" id="avatar")
                if avatar
                    small(class="form-text") Current: #{avatar}
                    small(class="form-text") Recommended size 180x180px
                else
                    small(class="form-text") Recommended size 180x180px
            div.form-group
                label(for="interests") Interests
                input(type="text" class="form-control" name="interests" id="interests" placeholder="Running, football, .." value=interests)
            div.form-group
                label(for="interests") Favourite Genre(s)
                input(type="text" class="form-control" name="favourite_genres" id="favourite-genres" placeholder="Rap, Jazz, .." value=favourite_genres)
            button(class="submit" type="submit" class="btn btn-primary") Submit