extends ../layouts/main

block body
    section#profile
        div(class="row" id="header")
            div(id="avatar" class="col-2")
                if avatar
                    img(class="float-left" src="/images/avatars/" + avatar width="180" height="180")
                else
                    img(class="float-left" src="/images/avatars/default.jpg" width="180")
            div(id="title" class="col-9")
                if stage_name
                    h1= username
                        span= " (" + stage_name + ")"
                else
                    h1= username
        div(class="row" id="top-content")
            dl(class="col-4" id="info")
                dt Location:
                    if location
                        dd= location
                    else
                        dd N/A
                dt Interests:
                    if interests
                        dd= interests
                    else
                        dd N/A
                dt Favourite Genres:
                    if favourite_genres
                        dd=favourite_genres
                    else
                        dd N/A
            div(class="col-8" id="post")
                div.new-post
                    form(id="wall-form" class="wall-form" method="post" action="/u/wall")
                        div.form-group
                            textarea(id="wallText" name="post" cols="50" rows="3")
                        button(class="submit" type="submit" class="btn btn-success") Submit
        div(class="row" id="mid-content")
            div.posts
                div.post
                    p Test test test